<!DOCTYPE html>
<html>
<head>
  <title>Online Store</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class = '<%= controller.controller_name %>'>
<div id = "banner">
	<%= image_tag("logo.png") %>
	<%= @page_title || "Pragmatic Bookshelf" %>
</div>
<div id = "columns">
	<div id = "side">
		<ul>
			<!-- <li><a href = "http://www....">Home</a></li>
			<li><a href = "http://www..../faq">Questions</a></li>
			<li><a href = "http://www..../news">News</a></li>
			<li><a href = "http://www..../conta">Contact</a></li> -->
			<li><%= link_to "Home", controller: :products, action: :index %></li>
			<li><%= link_to "Questions", controller: :other, action: :faq %></li>
			<li><%= link_to "News", controller: :other, action: :news %></li>
			<li><%= link_to "Contact", controller: :other, action: :contact %></li>
			<li><%= link_to "About", controller: :other, action: :about %></li>

		</ul>
	</div>
</div>

<%= yield %>

</body>
</html>
